
body {
	margin: 0;
	padding: 0;
	color: #fff;
	background: #444;
}

canvas#game {
	display: block;
	margin: 0 auto;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}
